[submodule "themes/hugo-cactus-theme"]
	path = themes/hugo-cactus-theme
	url = https://github.com/digitalcraftsman/hugo-cactus-theme.git
[submodule "wfernandes.github.io"]
	path = wfernandes.github.io
	url = git@github.com:wfernandes/wfernandes.github.io.git
